[submodule "tests/third_party/posixtestsuite"]
	path = tests/third_party/posixtestsuite
	url = https://github.com/emscripten-core/posixtestsuite
[submodule "tests/third_party/wasi-test-suite"]
	path = tests/third_party/wasi-test-suite
	url = https://github.com/khronosproject/wasi-test-suite
